$darkGrayBG: #323232;
$whiteBG: #FFFFFF;
$orangeBG: #FF3C00;
$yellowBG: #FBDB3C;
$lightGrayBG: #eaeaea;
$blackBG: #000000;
$blueBG: #324fbe;
$mediumGrayBG: #ccc;

$darkGrayT: #323232;
$whiteT: #FFFFFF;
$orangeT: #FF3C00;
$yellowT: #FBDB3C;
$lightGrayT: #eaeaea;
$blackT: #000000;
$blueT: #324fbe;
$mediumGrayT: #ccc;

$lightGrayB: #eaeaea;
$blackB: #000000;