/* ================ START OF ADAPTIVE 1440px ==================== */

@media screen and (max-width: 1440px) {
  .main {
    padding-bottom: 17%;
  }

  .main > h1 {
    font-size: 5.5rem;
  }

  .circle {
    align-self: center;
  }

  .get_updates > p {
    margin-top: 40px;
  }

  .purple_container {
    position: relative;
    top: -100px;
    min-height: 200px;
    padding: 20px 60px;
  }

  #purple_text > h1 {
    font-size: 3.4rem;
  }

  #purple_text > button {
    min-width: 180px;
    height: 68px;
    font-size: 18px;
  }

  .join_container > img {
    display: none;
  }

  .speakers_list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 800px 800px 800px;
  }

  .speaker_rand,
  .speaker_kyle {
    align-self: start;
  }

  .speaker_chris,
  .speaker_iona,
  .speaker_more {
    align-self: end;
  }

  .ticket_part_right > h3 {
    font-size: 4rem;
  }

  .reasons_grid h2 {
    font-size: 3.8rem;
    position: absolute;
    bottom: 30%;
  }

  .reasons_grid p {
    line-height: 30px;
    position: absolute;
    bottom: 0;
  }

  .partner_container {
    position: relative;
    bottom: -100px;
    min-height: 200px;
    padding: 20px 60px;
  }

  .partner_container > div > h1 {
    font-size: 3.4rem;
  }

  .partner_container > div > button {
    min-width: 180px;
    height: 68px;
    font-size: 18px;
  }

  .subscribe_container {
    margin-top: 5%;
  }

  .subscribe_text > h1 {
    font-size: 3.4rem;
  }
}

/* ================ END OF ADAPTIVE 1440px ==================== */

/* ================ START OF ADAPTIVE 1024px ==================== */

@media screen and (max-width: 1024px) {
  .main {
    padding-bottom: 20%;
  }

  #purple_text {
    padding: 27px 40px;
  }

  #purple_text > h1 {
    font-size: 2.5rem;
  }

  #purple_text > button {
    font-size: 1.8rem;
    min-width: 180px;
    height: 68px;
    /*font-size: 18px;*/
  }

  .speakers_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 68px;
    max-width: 100vw;
  }

  .speaker_chris,
  .speaker_rand,
  .speaker_iona,
  .speaker_kyle,
  .speaker_more {
    align-self: center;
  }

  .ticket_container {
    max-width: 700px;
  }

  .tickets_text_and_logo > img {
    max-width: 500px;
  }

  .ticket_price > p {
    font-size: 3.2rem;
  }

  .ticket_part_right > h3 {
    font-size: 3.2rem;
  }

  .ticket_part_right,
  .ticket_price {
    width: 150px;
  }

  .ticket_price > p {
    padding: 45px;
  }

  .ticket_price::before {
    left: 160px;
  }

  .ticket_price::after {
    left: 160px;
  }

  .community_grid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .community_first_img {
    order: -1;
  }

  #community_header_1,
  #community_header_2 {
    max-width: 100%;
  }

  #community_header_2 {
    margin-top: 0;
  }

  .reasons_grid {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .reasons_grid h2 {
    font-size: 3.2rem;
    bottom: 20%;
  }

  .reasons_grid p {
    line-height: 30px;
  }

  .reason_block {
    max-width: 100%;
    height: 370px;
  }

  #reason_image_block_one {
    order: 1;
  }

  #reason_two_block {
    order: 2;
  }

  #reason_image_block_two {
    order: 3;
  }

  #reason_three_block {
    order: 4;
  }

  #reason_image_block_three {
    order: 5;
  }

  .tips_list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20%;
  }

  .tips_list > div {
    max-width: 40%;
  }

  .tips_container h1 {
    max-width: 45vw;
  }

  .partner_container {
    position: relative;
  }

  .subscribe_container {
    margin-top: 10%;
  }

  .video_info {
    gap: 2vw;
  }

  .main_partnership > h1 {
    font-size: 4.5rem;
  }
}
/* ================ END OF ADAPTIVE 1024px ==================== */

/* ================ START OF ADAPTIVE 768px ==================== */

@media screen and (max-width: 768px) {
  .nav {
    display: none;
  }

  .main {
    display: flex;
    flex-direction: column;
    padding-bottom: 20%;
  }

  .main > h1 {
    font-size: 3.4rem;
  }

  .get_updates,
  .get_updates > p {
    margin-top: 0;
  }

  .get_updates_btn {
    margin-bottom: 35px;
  }

  #purple_text > p {
    font-size: 3rem;
  }

  .circle_container {
    order: -1;
  }

  #purple_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 17px 20px;
  }

  #purple_text > h1 {
    font-size: 2rem;
    text-align: center;
  }

  #purple_text > button {
    text-align: center;

    word-break: break-all;
    font-size: 1.8rem;
    max-width: 140px;
    height: 68px;
    /*font-size: 18px;*/
  }

  .speakers_list {
    padding: 0;
    padding-bottom: 100px;
  }

  .speakers_page > div > h1 {
    font-size: 3.5rem;
  }

  .join_container {
    justify-content: center;
  }

  .join_container > img {
    display: none;
  }

  .tickets_text_and_logo > img {
    max-width: 95vw;
  }

  .tickets_text_and_logo > h1 {
    font-size: 3rem;
  }

  .ticket_container {
    flex-direction: column;
    align-self: center;
    width: 95vw;
  }

  .ticket_part_left {
    width: 100%;
    flex-direction: column;
    padding: 28px;
    height: fit-content;
  }

  .ticket_part_right {
    height: 102px;
    width: 100%;
  }

  .ticket_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .ticket_info_date {
    margin-top: 22px;
  }
  .ticket_price {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #eaeaea;
  }

  .ticket_price > p {
    padding: 0;
  }

  .ticket_price::before {
    top: 172px;
    left: 28px;
  }

  .ticket_price::after {
    top: 172px;
    left: 310px;
  }

  .ticket_part_right > h3 {
    word-break: initial;
    padding: 0;
    max-width: 45%;
    font-size: 3rem;
  }

  .ticket_part_left::before {
    background-image: url("../assets/images/tickets_page/ticket_top.svg");
    height: 15px;
    width: 100%;
  }

  .ticket_info_details,
  .ticket_info_sale {
    font-size: 2.1rem;
  }

  .ticket_part_right::after {
    content: "";
    background-image: url("../assets/images/tickets_page/ticket_bottom.svg");
    background-color: #fbdb3c;
    height: 7px;
    width: 100%;
    bottom: -1px;
  }

  #community_header_1,
  #community_header_2 {
    font-size: 3.5rem;
  }

  .reasons_grid {
    gap: 20px;
  }

  .reasons_grid h2 {
    font-size: 3.2rem;
    bottom: 45%;
  }

  .reasons_grid p {
    line-height: 30px;
  }

  .tips_list > div {
    max-width: 60%;
    gap: 20px;
  }

  .tips_container h1 {
    font-size: 3.5rem;
    max-width: 100vw;
  }

  .partner_container > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  .partner_text {
    max-width: 100vw;
    text-align: center;
  }

  .partner_text > h2 {
    font-size: 2.2rem;
  }

  .subscribe_container {
    margin-top: 20vh;
  }

  .subscribe_header {
    justify-content: center;
    text-align: center;
  }

  .subscribe_img {
    display: none;
  }

  .subscribe_input > input {
    width: 80vw;
  }

  .video_text > h1 {
    font-size: 2rem;
  }

  .video_text > p,
  .video_adress > p {
    font-size: 1.5rem;
  }

  .video_adress {
    width: 260px;
    height: 260px;
  }

  .video_adress > button {
    width: 100px;
  }

  .main_partnership > h1 {
    font-size: 3.2rem;
  }

  .main_partnership > img {
    width: 80vw;
  }

  .other_partnership > img {
    width: 70vw;
  }

  .footer > img {
    width: 300px;
    height: 100%;
  }

  .cookies_container {
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 20px;
  }

  .cookies_text > h1::after {
    content: " on hotjar.com";
  }

  .cookies_other {
    flex-direction: column;
  }

  .cookies_btn {
    width: 90vw;
  }
}

/* ================ END OF ADAPTIVE 768px ==================== */

/* ================ START OF ADAPTIVE 425px ==================== */
@media screen and (max-width: 425px) {
  .faq_container h1 {
    font-size: 3rem;
  }

  .faq_question_btn {
    padding: 10%;
  }

  .faq_question_btn h2 {
    font-size: 1.8rem;
  }

  .faq_question_text p {
    font-size: 1.5rem;
  }

  .footer_page > div {
    padding: 5%;
  }

  .footer {
    flex-direction: column;
    gap: 48px;
  }

  .footer > img {
    width: 90%;
    height: 100%;
  }

  .footer > button {
    width: 68vw;
    height: 64px;
  }

  .footer_text {
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
/* ================ END OF ADAPTIVE 425px ==================== */

/* ================ START OF ADAPTIVE 390px ==================== */

@media screen and (max-width: 390px) {
  .reasons_header > h1 {
    font-size: 1.8rem;
  }

  .reasons_grid h2 {
    font-size: 3rem;
    bottom: 50%;
  }

  .video_info {
    text-align: center;
    align-items: center;
    flex-direction: column;
    gap: 2vh;
  }

  .video_text {
    max-width: 100%;
  }
}

/* ================ END OF ADAPTIVE 390px ==================== */
