* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Inter", sans-serif;
}

button {
  cursor: pointer;
}

html {
  font-size: 10px;
}

.text_700 {
  font-weight: 700;
}

.text_800 {
  font-weight: 800;
}

.text_900 {
  font-weight: 900;
}
/* ================ START OF NAV ==================== */
.nav {
  background-color: #323232;
  color: white;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 40px;
}

.nav > button {
  background-color: #ff3c00;
  border: none;
  outline: none;
  color: white;
  padding: 20px 40px;
  font-size: 1.4rem;
}

.nav > p {
  font-size: 1.4rem;
}

/* ================ END OF NAV ==================== */

/* ================ START OF MAIN PAGE ==================== */

.main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, max-content);
  background-image: url("../assets/images/section1_bg1.svg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15% 20%;
  position: relative;
}

.get_updates > div {
  order: 2;
}

.circle {
  position: relative;
  top: 0;
  left: 0;
}

.main > h1 {
  font-size: 7.7rem;
  max-width: 1110px;
  color: #212529;
  margin-bottom: 48px;
  grid-column: span 2;
}

.get_updates {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
}

.get_updates > div > p {
  font-size: 2rem;
  margin-bottom: 26px;
  max-width: 815px;
}

.get_updates_btn {
  background-color: #323232;
  color: white;
  width: 220px;
  height: 65px;
  font-size: 2rem;

  border: none;
  margin-top: 31px;
}

.purple_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.purple_container > div {
  background-image: url("../assets/images/section1_purple.svg");
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 4.7rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 76%;
  /* 48px 80px; */
  padding: 48px;
  border-radius: 16px;
  position: absolute;
  gap: 2vw;
}

.special_btn {
  background-color: #323232;
  color: white;
  width: 262px;
  height: 82px;
  font-size: 2.2rem;

  border: none;
}

.circle {
  max-width: 250px;
  max-height: 250px;
}

/* ================ END OF MAIN PAGE ==================== */

/* ================ START OF SPEAKERS PAGE ==================== */

.speakers_page {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.speakers_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* padding: 16px; */
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 170px;
  gap: 52px;
}

.speakers_collumn {
  display: flex;
  flex-direction: column;
  gap: 138px;
}

.speaker {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.speakers_collumn:nth-child(2) {
  padding-top: 64px;
}
.speakers_collumn:nth-child(3) {
  padding-top: 128px;
}

.speakers_list img {
  max-width: 380px;
  max-height: 440px;
}
.speakers_page > div > h1 {
  margin-top: 250px;
  margin-bottom: 88px; /* 168px 238px*/
  font-size: 5.8rem;
}

.speaker2 {
  margin-top: 168px; /* 168px 238px*/
}
.speaker3 {
  margin-top: 238px; /* 168px 238px*/
}

.speakers_list h2 {
  font-size: 3.1rem;
}

.speakers_list p {
  font-size: 2.1rem;
  font-weight: 500;
}

.speakers_list a {
  font-size: 1.4rem;
  color: black;
}

.orange_text {
  color: #ff3c00;
}

/* ================ END OF SPEAKERS PAGE ==================== */

/* ================ START OF TICKETS PAGE ==================== */
.tickets_page {
  display: flex;
  flex-direction: column;
  background-color: #fbdb3c;
  padding: 160px 16% 184px 16%;
}

.join_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tickets_text_and_logo > h1 {
  font-size: 5rem;
}

.tickets_list {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.ticket_container {
  display: flex;
}

.ticket_part_left {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  padding: 16px;
  gap: 16px;
  width: 76%;
  height: 220px;
  position: relative;
}

.ticket_part_left::before {
  content: "";
  background-image: url("../assets/images/tickets_page/ticket_left.svg");
  background-color: #fbdb3c;
  height: 100%;
  width: 10px;
  position: absolute;
  left: 0;
  top: 0;
}

.ticket_part_right {
  background-color: #cccccc;
  height: 220px;
  width: 300px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.ticket_part_right::after {
  content: "";
  background-image: url("../assets/images/tickets_page/ticket_right.svg");
  background-color: #fbdb3c;
  height: 100%;
  width: 15px;
  position: absolute;
  right: 0;
}

.ticket_price > p {
  font-size: 5.6rem;
  /* padding-right: 15px; */
  padding: 45px 75px 45px 60px;
}

.ticket_part_right h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4.8rem;
  color: #ffffff;
  /* word-break: break-all; */
  text-align: center;
  max-width: 132px;
}

.ticket_price::before {
  content: "";
  background-image: url("../assets/images/tickets_page/ticket_divider_circle.svg");
  background-color: #ffffff;
  height: 10px;
  width: 9px;
  position: absolute;
  top: 12%;
  left: 280px;
}

.ticket_price {
  border-right: 1px solid #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  width: 270px;
}

.ticket_price::after {
  content: "";
  background-image: url("../assets/images/tickets_page/ticket_divider_circle.svg");
  background-color: #ffffff;
  height: 10px;
  width: 9px;
  position: absolute;
  bottom: 12%;
  left: 280px;
}

.ticket_info_details,
.ticket_info_sale {
  font-size: 2.5rem;
  color: #a6a8a9;
}

.ticket_info_date {
  font-size: 1.8rem;
  color: #d2c7f9;
}

/* ================ END OF TICKETS PAGE ==================== */

/* ================ START OF ADAPTIVE 1440px ==================== */

@media screen and (max-width: 1440px) {
  .purple_container > div {
    max-width: 95vw;
    flex-wrap: wrap;
  }

  .join_container > img {
    display: none;
  }

  /* .ticket_price > p {
    font-size: 4rem;
  } */
  .ticket_part_right > h3 {
    font-size: 4rem;
  }
}

/* ================ END OF ADAPTIVE 1440px ==================== */

/* ================ START OF ADAPTIVE 1024px ==================== */

@media screen and (max-width: 1024px) {
  .ticket_container {
    max-width: 700px;
  }
  .tickets_text_and_logo > img {
    max-width: 500px;
  }

  .ticket_price > p {
    font-size: 3.2rem;
  }

  .ticket_part_right > h3 {
    font-size: 3.2rem;
  }

  .ticket_part_right,
  .ticket_price {
    width: 150px;
  }

  .ticket_price > p {
    padding: 45px;
  }

  .ticket_price::before {
    left: 160px;
  }
  .ticket_price::after {
    left: 160px;
  }
}
/* ================ END OF ADAPTIVE 1024px ==================== */

/* ================ START OF ADAPTIVE 768px ==================== */

@media screen and (max-width: 768px) {
  .nav {
    display: none;
  }

  .main > h1 {
    font-size: 3.4rem;
    /* max-width: 1110px; */
  }

  .purple_container > div > p {
    font-size: 3rem;
  }

  .circle_container {
    order: -1;
    width: 120px;
    height: 120px;
  }

  .circle {
    width: 120px;
    height: 120px;
  }

  .special_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 29px 71px;
  }

  .speakers_list {
    padding: 0;
    padding-bottom: 100px;
  }

  .speakers_page > div > h1 {
    font-size: 3.5rem;
  }

  .join_container {
    justify-content: center;
  }
  .join_container > img {
    display: none;
  }

  .tickets_text_and_logo > img {
    max-width: 342px;
  }

  .tickets_text_and_logo > h1 {
    font-size: 3rem;
  }

  .ticket_container {
    flex-direction: column;
    align-self: center;
    width: 343px;
  }
  .ticket_part_left {
    width: 100%;
    flex-direction: column;
    padding: 28px;
    height: fit-content;
  }

  .ticket_part_right {
    height: 102px;
    width: 100%;
  }

  .ticket_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .ticket_info_date {
    margin-top: 22px;
  }
  .ticket_price {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #eaeaea;
  }
  .ticket_price > p {
    padding: 0;
  }
  .ticket_price::before {
    top: 172px;
    left: 28px;
  }
  .ticket_price::after {
    top: 172px;
    left: 310px;
  }

  .ticket_part_right > h3 {
    word-break: initial;
    padding: 0;
    max-width: 45%;
    font-size: 3rem;
  }
  .ticket_part_left::before {
    background-image: url("../assets/images/tickets_page/ticket_top.svg");
    height: 15px;
    width: 100%;
  }

  .ticket_info_details,
  .ticket_info_sale {
    font-size: 2.1rem;
  }

  .ticket_part_right::after {
    content: "";
    background-image: url("../assets/images/tickets_page/ticket_bottom.svg");
    background-color: #fbdb3c;
    height: 7px;
    width: 100%;
    bottom: -1px;
  }
}

/* ================ END OF ADAPTIVE 768px ==================== */
